.document {
  position: absolute;
  top: 65px;
  right: 0px;
  bottom: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
  background-color: #eceff1;

}

.document .matDrawerContainer {
  flex: 1 1 auto;
  height: 100%;
  background-color: #f3f4f6;
}

.document .matDrawerContainer .matDrawerContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

.drawer {
  width: 100%;
}

.document .main-actions {
  margin-top: 1rem;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.document .main-actions .add-button {
  display: flex;
  justify-content: flex-end;

}

.document .add-button button {

  margin-left: 0.5rem;
  margin-right: 0.25rem;

}

.document .add-button button>span {
  padding-left: 5px;
}

.document .createNewDocument {
  margin-top: 20px;
  padding: 30px;
}

.document .createNewDocument .title {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: inline-flex;
  margin-top: 1rem;
}

.document .createNewDocument .title hr {
  width: 100%;
  height: 0.5px;
  margin: 2rem 0;
}

.document .createNewDocument .title .text {
  position: absolute;
  padding: 0 2rem;
  transform: translateX(-50%);
  background: #f3f4f6;
  left: 50%;
}

.document .createNewDocument .documentControl {
  width: 100%;
}

.document .addLabel,
.document .labels-list .added-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.document .labelAddButton {
  margin-bottom: 20px;
  font-size: 24px;
  width: auto;
  min-width: auto;
}

.document .labelItem {
  margin-right: 8px;
}

.document .labels-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.document .matDrawerContainer .list-container {
  margin-top: 20px;
  padding: 30px;
}

.document .matDrawerContainer .list-container .list-content {
  display: grid;
  grid-gap: 20px;

}


/* responsive settings */
@media (min-width: 1630px) {
  .document .matDrawerContainer .list-container .list-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1230px) and (max-width:1630px) {
  .document .matDrawerContainer .list-container .list-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 830px) and (max-width: 1230px) {
  .document .matDrawerContainer .list-container .list-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 830px) {
  .document .matDrawerContainer .list-container .list-content {
    grid-template-columns: 1fr;
  }

  .document .main-actions,
  .document .matDrawerContainer .list-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 5px;

  }

  .document .createNewDocument {
    padding: 5px;
  }
}
